
/* Dashboard responsives */
html,body        {height:100%;}
.wrapper         {width:80%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

/* Gifs */
.gif1 {width: 100%;}
.gif2 {width: 100%;}
.gif3 {width: 100%;}
.gif4 {width: 100%;}
.gif5 {width: 100%;}
.gif6 {width: 100%;}
.gif7 {width: 100%;}
.gif8 {width: 100%;}

